<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PanierJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>articles.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PanierServlet</display-name>
    <servlet-name>PanierServlet</servlet-name>
    <servlet-class>servlets.PanierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierServlet</servlet-name>
    <url-pattern>/PanierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductFichServlet</display-name>
    <servlet-name>ProductFichServlet</servlet-name>
    <servlet-class>servlets.ProductFichServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFichServlet</servlet-name>
    <url-pattern>/ProductFichServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>BackOfficeServlet</display-name>
    <servlet-name>BackOfficeServlet</servlet-name>
    <servlet-class>servlets.BackOfficeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackOfficeServlet</servlet-name>
    <url-pattern>/BackOfficeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultLoginServlet</display-name>
    <servlet-name>DefaultLoginServlet</servlet-name>
    <servlet-class>servlets.DefaultLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultLoginServlet</servlet-name>
    <url-pattern>/DefaultLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>